.comment-section
  background: var(--card-bg)
  color: var(--text)
  padding: 1rem
  border-radius: 1rem
  width: 100%

  h3
    margin-bottom: 1rem
    background: var(--accent-gradient)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

  .error
    color: red
    margin-bottom: 1rem

  .new-comment
    display: flex
    flex-direction: column
    gap: 0.5rem
    margin-bottom: 1rem

    textarea
      min-height: 150px
      background: var(--bg)
      color: var(--text)
      border: 1px solid var(--accent-plain)
      border-radius: 0.5rem
      padding: 0.5rem
      resize: none
      scrollbar-width: none
      -ms-overflow-style: none
      overflow-y: auto

      &::-webkit-scrollbar
        display: none

    .char-counter
      color: var(--accent-plain)

    button
      align-self: flex-end
      padding: 0.5rem 1rem
      background: var(--accent-gradient)
      border: none
      border-radius: 0.5rem
      color: #000
      cursor: pointer

  .comments-list
    max-height: 300px
    overflow-y: auto
    padding-right: 0.5rem
    display: flex
    flex-direction: column
    gap: 0.5rem
    scrollbar-width: none
    -ms-overflow-style: none
    overflow-y: auto

    &::-webkit-scrollbar
      display: none

  .comment-card
    display: flex
    flex-direction: column
    gap: 10px
    background: var(--bg)
    border: 1px solid var(--accent-plain)
    border-radius: 0.75rem
    padding: 0.75rem

    .info
      display: flex
      justify-content: space-between
      font-size: 0.85rem
      color: var(--text-secondary)

    textarea
      min-height: 100px
      width: 100%
      background: var(--bg)
      color: var(--text)
      border: 1px solid var(--accent-secondary)
      border-radius: 0.5rem
      padding: 0.5rem
      resize: none
      scrollbar-width: none
      -ms-overflow-style: none
      overflow-y: auto

      &::-webkit-scrollbar
        display: none

    .actions
      display: flex
      gap: 0.5rem

      button
        background: var(--accent-secondary)
        border: none
        border-radius: 0.5rem
        padding: 0.3rem 0.7rem
        color: #000
        cursor: pointer
