.filters
  max-width: 600px
  width: 90%
  color: var(--text)

  h4
    margin-bottom: 1rem
    font-weight: 600
    font-size: 1.2rem
    color: var(--accent-plain)

  .tags-list
    display: flex
    flex-wrap: wrap
    gap: 0.6rem
    margin-bottom: 10px

    .tag-btn
      background-color: var(--card-bg)
      border: 2px solid rgba(161, 140, 209, 0.7)
      border-radius: 14px
      padding: 0.4rem 1rem
      font-size: 0.9rem
      color: var(--text-secondary)
      cursor: pointer
      transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease
      user-select: none

      &:hover
        border-color: var(--accent-secondary)
        color: var(--accent-secondary)

      &.active
        background-color: var(--accent-secondary)
        border-color: var(--accent-secondary)
        color: var(--bg)

  .ratings-list
    display: flex
    flex-wrap: wrap
    gap: 8px
    margin-top: 12px

    .rating-btn
      background-color: var(--card-bg)
      border: 1px solid var(--accent-plain)
      border-radius: 8px
      padding: 6px 10px
      font-size: 14px
      color: var(--text-secondary)
      cursor: pointer
      transition: background-color 0.2s, color 0.2s, border-color 0.2s

      &:hover
        background-color: var(--accent-secondary)
        color: var(--bg)

      &.active
        background: var(--accent-gradient)
        color: var(--bg)
        font-weight: bold
        border-color: transparent

  .filter-icon-btn
    background: none
    border: none
    color: var(--accent-secondary)
    font-size: 1.3rem
    cursor: pointer
    padding: 0.2rem 0.5rem

  .filter-modal
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: rgba(0, 0, 0, 0.6)
    display: flex
    align-items: center
    justify-content: center
    z-index: 999
    overflow-y: auto

  .filter-modal-content
    position: relative
    background: var(--card-bg)
    color: var(--text)
    padding: 1.5rem
    border-radius: 12px
    width: 50%
    max-height: 90vh
    overflow-y: auto

  .close-btn
    background: none
    border: none
    color: var(--text-secondary)
    font-size: 1.5rem
    position: absolute
    top: 1rem
    right: 1rem
    cursor: pointer
